html,
body {
  margin: 0;
  padding: 0;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  padding: 10px 10px;
  box-sizing: border-box;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 1px 1px 20px #474747;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.top {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

div#crypto {
  font-size: 1.3rem;
}

div#crypto-top {
  display: flex;
  align-items: center;
}

div#crypto-top > span {
  margin-left: 10px;
}
